.sub-projecr-container {


    background-color: #FCF6E2;
    margin-top: 50px;
}

.project-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-top: 40px;
    color: rgba(249, 178, 51, 1)
}

.project-text2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: rgba(65, 70, 74, 1);

}

/* Card design */
.card-body {}

.card-text {
    background: #FFFFFF;
    height: 225px;
    padding: 20px;

}

.card__image-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.card__image-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;

}

.card-desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #3A3A3A;
    margin-top: 10px;

}

.btn-style {
    box-sizing: border-box;
    background: #DAF9FD;
    border: 1px solid #006D77;
    border-radius: 50px;
    margin-top: 30px;
    padding: 6px 17px;
}

.btn-style span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #006D77;
}

.btn-style:hover {
    background-color: #006D77;
    color: #DAF9FD;
    border: none;

}

.btn-style span:hover {
    background-color: #006D77;
    color: #DAF9FD;

}

.show-all-btn {
    padding: 10px 22px;
    box-sizing: border-box;
    background: #DAF9FD;
    border: 1px solid #006D77;
    border-radius: 50px;
}

.show-all-btn span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #006D77;
}